<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--add key="gfc" value="https://artifactory.wob.vw.vwg:8443/artifactory/api/nuget/nuget-public" /-->
		<add key="public" value="https://api.nuget.org/v3/index.json" />
	</packageSources>
    <config>
        <add key="http_proxy" value="http://194.114.63.23:8080" />
        <add key="http_proxy.user" value="W1O72D2" />
        <add key="http_proxy.password" value="dutR4XTf8FhWFLoeoOV2X/8fQFSBLFpobuBk4ySX7zn3va8hs80p598J/DJ0txANMy7kf10PA7o0I8FWTu8i4IqLCy0T1VAt8bNDMFVQRDlWbpiyJyyD8+9ko1pE/pGK50vZziB3LVt1Le4S5Nq0PDJOGAXArH0YrAlelEy9jaU5pFZcqp7x6l5uxN+pGFfstQgwWRApVVQ07TlfyVhNLRh2e9wgw9hCYEortCUnammP1s9EBW934Xmv6uhOHARM7lKdd9xdslx92SZe6a78Bw==" />
    </config>
</configuration>
